@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'tailwindcss';
@theme {
    /* Font Family */
    --font-sans: 'Pretendard', system-ui, sans-serif;

    /* Font Sizes */
    --font-size-display-2xl: 72px;
    --font-size-display-xl: 60px;
    --font-size-display-lg: 48px;
    --font-size-display-md: 36px;
    --font-size-display-sm: 30px;
    --font-size-display-xs: 24px;
    --font-size-text-xl: 20px;
    --font-size-text-lg: 18px;
    --font-size-text-md: 16px;
    --font-size-text-sm: 14px;
    --font-size-text-xs: 12px;

    /* Line Heights */
    --line-height-display-2xl: 90px;
    --line-height-display-xl: 72px;
    --line-height-display-lg: 60px;
    --line-height-display-md: 44px;
    --line-height-display-sm: 38px;
    --line-height-display-xs: 32px;
    --line-height-text-xl: 30px;
    --line-height-text-lg: 28px;
    --line-height-text-md: 24px;
    --line-height-text-sm: 20px;
    --line-height-text-xs: 18px;

    /* Letter Spacing */
    --letter-spacing-display: -2%;

    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Color Primary */
    --color-primary-50: #ecf4ff;
    --color-primary-100: #ddeaff;
    --color-primary-200: #c2d8ff;
    --color-primary-300: #9cbdff;
    --color-primary-400: #7596ff;
    --color-primary-500: #4c6aff;
    --color-primary-600: #3647f5;
    --color-primary-700: #2a36d8;
    --color-primary-800: #2531ae;
    --color-primary-900: #263289;
    --color-primary-950: #161a50;

    /* Color Sub-Purple */
    --color-subPurple-50: #eceeff;
    --color-subPurple-100: #dde0ff;
    --color-subPurple-200: #c2c5ff;
    --color-subPurple-300: #9c9eff;
    --color-subPurple-400: #7e75ff;
    --color-subPurple-500: #6a52ff;
    --color-subPurple-600: #6036f5;
    --color-subPurple-700: #532ad8;
    --color-subPurple-800: #4325ae;
    --color-subPurple-900: #392689;
    --color-subPurple-950: #231650;

    /* Color Sub-Pink */
    --color-subPink-50: #fef1f8;
    --color-subPink-100: #fde6f3;
    --color-subPink-200: #fdcde8;
    --color-subPink-300: #fda4d3;
    --color-subPink-400: #fb6bb5;
    --color-subPink-500: #f653a2;
    --color-subPink-600: #e51d74;
    --color-subPink-700: #c70f59;
    --color-subPink-800: #a4104b;
    --color-subPink-900: #891241;
    --color-subPink-950: #540322;

    /* Color Gray */
    --color-line-50: #f8f8fa;
    --color-line-100: #eaeaef;
    --color-line-200: #d9d9e4;
    --color-line-300: #bfc0d1;
    --color-line-400: #a0a1ba;
    --color-line-500: #8b89a8;
    --color-line-600: #7c7898;
    --color-line-700: #716b8a;
    --color-line-800: #5f5a73;
    --color-line-900: #4e4b5d;
    --color-line-950: #32303b;

    /* Shadow */
    --shadow-xs: 0 0 4px 2px rgba(0, 0, 0, 0.02);
    --shadow-sm: 0 0 4px 4px rgba(0, 0, 0, 0.02);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fade-in 1s ease forwards;
}
